`use strict`;

const process = {
  env: {
    UAGEX1_URL: `some url`,
    UAGEX1_URL_HEADERS: `some headers`,
    SIPTK_URL: `some url`,

    HOST_UAGEX1: ` some key for putty`,
    HOST_UAGCFT: ` some key for putty`,
    HOST_SIPTOL: ` some key for putty`,

    TO_RECIPIENT: `some emails`,
    COPY_TO_RECIPIENT: `some email`,

    domainName1: `some user`,
    domainName2: `some user`,
    domainName3: `some user`,
    domainName4: `some user`,
    domainName5: `some user`,
    domainName6: `some user`,
    buhName1: `some user`,
    buhName2: `some user`,
    buhName3: `some user`,
    buhName4: `some user`,
    buhName5: `some user`,
    buhName6: `some user`,
    PATH_1C: `some path`,
    DB1: `some path`,
    DB2: `some path`,

    COMMAND_OVO: `some command`,
    COMMAND_GRET: `some command`,
    COMMAND_CFT: `some command`,
    COMMAND_MONIT_CLUST: `some command`,
    COMMAND_SIPTOL: `some command`,

    COMMAND_DIR_LOG: `some command`,
    COMMAND_DIR_DAT: `some command`,
    COMMAND_DIR_DECOPER: `some command`,

    COMMAND_SP04: `some command`,
    COMMAND_SURV_MQ: `some command`,
    COMMAND_DOWN: `some command`,

    COMMAND_SU_CFTUAG: `some command`,
    commandListcat: `some command`,

    kpiReportPlace: `some path`,

    gpiFolder1: `some path`,
    gpiFolder2: `some path`,
    gpiFolder3: `some path`,

    reportFolder: `some path`,

    drivePathF: 'some path',
    drivePathG: 'some path',
    drivePathK: 'some path',
    drivePathP: 'some path',
    drivePathS: 'some path',
    drivePathW: 'some path',

    COMMAND_JOB: `some command`,
    COMMAND_CLIENTS: 'some command',
    CONNECTION_OPTIONS: `some options`,
  },
};
